{% extends 'base.html' %}

{% block main_content %}
<div class="container">
		<form id="fileupload" action="." method="POST" enctype="multipart/form-data">{% csrf_token %}
        <!-- The fileupload-buttonbar contains buttons to add/delete files and start/cancel the upload -->
        <div class="row fileupload-buttonbar">
            <div class="span7">
                <!-- The fileinput-button span is used to style the file input field as button -->
                <span class="btn btn-success fileinput-button">
                    <i class="icon-plus icon-white"></i>
                    <span>add images</span>
                    <input type="file" name="files[]" multiple>
                </span>
                <button type="submit" class="btn btn-primary start">
                    <i class="icon-upload icon-white"></i>
                    <span>upload all things</span>
                </button>
                <button type="reset" class="btn btn-warning cancel">
                    <i class="icon-ban-circle icon-white"></i>
                    <span>cancel</span>
                </button>
            </div>
            <div class="span5">
                <!-- The global progress bar -->
                <div class="progress progress-success progress-striped active fade">
                    <div class="bar" style="width:0%;"></div>
                </div>
            </div>
        </div>
        <!-- The loading indicator is shown during image processing -->
        <div class="fileupload-loading"></div>
        <br>
        <!-- The table listing the files available for upload/download -->
        <table class="table table-striped"><tbody class="files" data-toggle="modal-gallery" data-target="#modal-gallery"></tbody></table>
    </form>
</div>

<div class="container">
        <div class="btn-group">
            <a class="btn btn-info dropdown-toggle" data-toggle="dropdown" href="#">
                View Per Page ({{ amount }}) 
                <span class="caret"></span>
            </a>

            <ul class="dropdown-menu">
                <li><a href="?a=25&p={{ page }}">25</a></li>
                <li><a href="?a=50&p={{ page }}">50</a></li>
                <li><a href="?a=75&p={{ page }}">75</a></li>
                <li><a href="?a=100&p={{ page }}">100</a></li>
            </ul>
        </div>
    
    <hr>
    
    {% if images %}
    <ul class="pager">
        {% if images.has_previous %}
        <li class="previous">
            <a href="?a={{ amount }}&p={{ images.previous_page_number }}">&larr; newer</a>
        </li>
        {% endif %}

        {% if images.has_next %}
        <li class="next">
            <a href="?a={{ amount }}&p={{ images.next_page_number }}">older &rarr;</a>
        </li>
        {% endif %}
    </ul>

    <ul class="thumbnails">
        {% for image, thumb in images %}
        <li class="span2">
            <a href="{% url detail image.id  %}">
                <img src="{{ thumb.url }}" class="thumbnail">
            </a>
        </li>		
        {% endfor %}
    </ul>
    
    <ul class="pager">
    {% if images.has_previous %}
    <li class="previous">
        <a href="?a={{ amount }}&p={{ images.previous_page_number }}">&larr; newer</a>
    </li>
    {% endif %}

    {% if images.has_next %}
    <li class="next">
        <a href="?a={{ amount }}&p={{ images.next_page_number }}">older &rarr;</a>
    </li>
    {% endif %}
    </ul>
    <hr>
    
    {% else %}
        <ul class="thumbnails"></ul>
    {% endif %}
</div>

{{ js_tmpl|safe }}

{% endblock main_content %}
