{% extends 'base.html' %}
{% block page_title %} {{ upload.name }} {% endblock %}
{% block body_class %}detail{% endblock %}

{% block header %} {{ upload.name }}{% endblock %}

{% block content %}
    {% if upload.type == "image" %}
    <img id="large" style="width:{{ upload.upload.width }}px;" src="{{ upload.upload.url }}" height="{{ upload.upload.height }}" width="{{ upload.upload.width }}" alt="{{ upload.name }}">
    {% endif %}

    {% if upload.type == "video" %}
    <video src="{{ upload.upload.url }}" controls preload></video>
    {% endif %}
    
    {% if upload.tags %}
    <section id="tags">
    <h3> Tags </h3>
    <p> {{ upload.tags }} </p>
    </section>
    {% endif %}
    
    <section id="comments">
        

    </section>
{% endblock %}
