{% extends 'base.html' %}
{% block page_title %} dump {% endblock %}
{% block body_class %}dump{% endblock %}
{% load thumbnail %}
{% load pagination_tags %}
{% block header %} What's New {% endblock %}

{% block upload %}
<form id="upload" action="" method="post" enctype="multipart/form-data"> {% csrf_token %}
    {% for field in form %}
        <p>{{ field.errors }}</p>
        <p>{{ field }}</p>    
    {% endfor %}
    <p><input type="submit" value="Upload" name="submit"></p>
</form>
{% endblock %}

{% block content %}

<section id="latest">
{% if latest %}
{% autopaginate latest 15 %}
<div id="latest-gallery">
{% for upload in latest %}
    {% thumbnail upload.upload "125x125" crop="center" as im %}
    <p><a href="{% url upload-detail upload.id %}" title="{{ upload.name }}"><span><img {% if upload.type == "video" %}src="/media/img/video.jpg"{% endif %}src="{{ im.url }}"><br>{{ upload.name }}</span></a></p>
    {% endthumbnail %}
{% endfor %}
</div>
{% paginate %}
{% else %} 
    <p><strong>No uploads in the database =(</strong></p>
{% endif %}
</section>
{% endblock %}

